.principal-Container {
    padding: 20px;
    position: relative; 
}

.fixed-button {
    position: absolute; 
    top: 90px; 
    right: 30px; 
}

.print-btn {
    background-color: #000000;
    color: #ffffff;
    width: 120px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 110px;
}

.icon-print {
    font-size: 12vh;
}
